.column {
    float: left;
}

.left {
    width: 20%;
    overflow-y: hidden;
    position: fixed;
    left: 0;
}

.right {
    width: 20%;
    overflow-y: hidden;
    position: fixed;
    right: 0;
}

.middle {
    width: 60%;
    overflow-y: scroll;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 20%;
    margin-right: 0;
}

.topcontainer {
    display: flex;
    justify-content: space-around;
}

.leftbox {
    width: 50%;
}

.rightbox {
    width: 100%;
}

.analytics {
    color: #522faa;
    font-size: 1.6rem;
    font-weight: bolder;
    display: block;
}

.mentorrequests {
    color: #505887;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
}

.mentorrequests2 {
    color: #505887;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    margin-top: 3vh;
}

.notifications {
    color: #505887;
    font-size: 1.2rem;
    display: block;
}

.welcometext {
    color: #9a9a9a;
    font-size: 1rem;
}

.welcometext2 {
    color: red;
    font-size: 1rem;
    font-weight: bold;
}

.searchbox {
    border: 1px solid black;
    border-radius: 0.2rem;
    background-color: #f5f9fd;
    padding: 0.8rem;

    font-size: 1rem;
}

.smallcardleft {
    display: block;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
}

.leftbutton {
    border: none;
    background-color: white;
    display: block;
    margin-top: 10%;
}

.statscontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.profilephotobox {
    height: 20vh;
    width: 9vw;
    margin-top: 5vh;
    border-radius: 160rem;
    background-color: #9a9a9a;
}

.detailscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgstyle {
    float: left;
    margin-top: 1.3rem;
    height: 7rem;
    width: 80%;
    object-fit: cover;
}

.logoutbtn {
    border: white;
    border-radius: 1rem;
    background: white;
    bottom: 0;
    margin-left: 2vw;
    margin-top: 80%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}