.wrapper{
    overflow: hidden;
}
.rightdiv{
    position:absolute;
    float:right;
    width: 60%;
    font-size: 2rem;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    right: 3.5rem;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

form{
    display:block;
}

.formheader{
    display:flex;
    margin-bottom:5rem;
    margin-top:9rem;
    margin-left:10rem;
    width:35rem;
    position: relative;
    right: 3.5rem;
    
}

.loginhead{
    border-bottom: 0.2rem solid blue;
    position: relative;
    left: 3.5rem;
 
}
.loginhead1{
    border-bottom: 0.2rem solid blue;  
}
/* .loginhead2{
    border-bottom: 0.2rem solid blue;
    position: relative;
    right: 1rem; 
} */



input{
    margin-left:18rem; 
    display: block;
    border:none;
    border-bottom:0.1rem solid gray;
    margin-top: 2rem; 
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.buttonscontainer{
    display:inherit;
}

.signupbutton{
    /* margin-left: 18rem; */
    margin-top: 2rem;
    border:none;
    background-color: white;
    color:blue;
    font-weight:bolder;
    font-size: 1.5rem;
 
} 
.lol{
    text-decoration: none;
    color:blue
}

.loginbutton{
    text-decoration: none;
    margin-top:0;
    background-color: blue;
    border-radius:1rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight:bolder;
    color:white;
    font-size:1.5rem;
    position: relative;
    left: 11.5rem;
}


.forgotpasswordbutton{
    display:block;
    font-size: 1rem;
    border:none;
    font-weight:bolder;
    background-color: white;
    color:blue;
    font-size:1.1rem;
    text-decoration: none;
    position: relative;
    right: 12rem;
    /* top: 2rem; */
}

.buttontext{
    color:white;
    text-decoration: none;
}


.colour1{
    position: absolute;
    height: 80rem;
    width: 55rem ;
    background-color: #9e3ffd;
    transform: rotate(15.59deg);
    left: -12rem;
    top: -17rem;
    z-index: -1;
}
.mostout{
    display: flex;
    height: 100%;


}

.checkboxstyle{
    display:flex;
}

.button2 {
    /* margin-left: 18rem; */
    margin-top: 2rem;
    border: none;
    background-color: white;
    color: blue;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    left: 2.3rem;
}

.error{
    color: #cc393d;
    text-align: center;
    margin-top: 3rem;
    margin-right: 4rem;
    width: 35%;
    height: 5%;
    background-color: #ffeded;
    border: 0.05rem solid black;
}