.cardstyle{
    /* align-items: center;
    justify-content: center; */
    width:90%;
    margin-top:1vh;
}

.innerdiv{
    background-color: #eeeded;
    display: flex;
    justify-content: space-between;
    border-radius:1rem;
    box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.xyz{
    margin-top:4.5vh;
}

/* .innermost :first-of-type{
    margin-left:3.5vw;
} */

.innermost{
    width:80%;
}

.innermost:first-of-type {
    width: 200vw;
}

.cardcontent{
    font-weight: bolder;
    font-size: 1rem;
    color:#291755;
    padding:0.01rem;
    padding-left:1rem;
}

.verifybutton {
    border: none;
    margin-right:20vw;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    color: #291755;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
}

.butimgdiv{
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}