.cardstyle{
    /* align-items: center;
    justify-content: center; */
    width:90%;
    margin-top:10vh;
}

.cardstyle:first-of-type {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 1vh;
}

.innerdiv{
    background-color: #eeeded;
    display: flex;
    justify-content: space-between;
    border-radius:1rem;
    box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.xyz{
    margin-top:4.5vh;
}

/* .innermost :first-of-type{
    margin-left:3.5vw;
} */

.innermost{
    width:80%;
}

.innermost:first-of-type {
    width: 200vw;
}

.cardcontent{
    font-weight: bolder;
    font-size: 1.2rem;
    color:#291755;
    padding:0.3rem
}

.verifybutton {
    border: none;
    margin-right:20vw;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    color: #291755;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
}
