@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.left {
    width: 20%;
    height: 100%;
    position: fixed;
    margin-top: 5%;
    background-color:#594f77;
    height: 80vh;
    border-radius: 3%;
    margin-left: 3%;
}

.right {
    margin-top: 5%;
    margin-left: 20%;
    background-color: #D9D9D9;
    width: 74%;
    padding-left: 3%;
    overflow-y: hidden;
    height: 80vh;
    position: fixed;
    right: 0;
    margin-right: 3%;
    border-radius: 2%;
}

.innerchat {
    overflow-y: auto;
    max-height: 75vh;
}

.outinput {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3vh;
}

.roomname {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.notifications {
    color: #ffffff;
    font-size: 1.2rem;
    display: block;
    padding: 0 0 0 0;
    font-family: 'Poppins', sans-serif; 
}

.notifications1 {
    color: #ffffff;
    font-size: 1.7rem;
    display: block;
    width: 100%;
    padding: 0 0 0 0;
    margin-top: 5vh;
}

.notifications2 {
    color: #fff;
    font-size: 1.7rem;
    display: block;
    width: 100%;
    padding: 0 0 0 0;
}

.smallcardleft {
    display: block;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.leftbutton {
    border: none;
    display: block;
    background-color: transparent;
}


.chatMessages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chatMessage {
    display: flex;
    margin-bottom: 16px;
    width: 40%;
}

.tooltip {
    max-width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #e6f2ff;
    position: relative;
}

.tooltip:before {
    content: "";
    position: absolute;
    bottom: 50%;
    margin-bottom: -8px;
    border: solid transparent;
    border-width: 8px;
}

.message {
    margin:0 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
    word-break: break-word;
    width: 100%;
}

.role {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-style: italic;
    color: #888;
}

.time {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 12px;
    color: #aaa;
    text-align: right;
}
.date {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 12px;
    color: #aaa;
}

.toparea {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.chathead {
    display: flex;
    justify-content: space-between;
}

.chatMessage:nth-child(even) .tooltip {
    align-self: flex-end;
    background-color: #f8f8f8;
    right: 0;
    width: 100%;
}

.chatMessage:nth-child(even) .tooltip:before {
    bottom: 50%;
    left: auto;
    right: -16px;
    border-left-color: #f8f8f8;
}

.chatMessage:nth-child(odd) .tooltip {
    align-self: flex-start;
    background-color: #e6f2ff;
    left: 0;
    width: 100%;
}

.chatMessage:nth-child(odd) .tooltip:before {
    bottom: 50%;
    right: auto;
    left: -16px;
    border-right-color: #e6f2ff;
}

.chatForm {
    display: flex;
    margin-top: 16px;
}

.chatButton {
    margin-left: 12px;
    margin-top: 2rem;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chatInput {
    margin-left: 30%;
    background-color: #f0f0f0;
    color: #333;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    flex-grow: 0.75;
}

.chatInput::placeholder {
    color: #aaa;
    padding-left: 5%;
}

.chatButton {
    margin-left: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #9e3ffd;
    border-radius: 5px;
}