@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.imginput {
    display: none;
}

.inputlabel {
    margin-top: 2rem;
    display: flex;
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    padding-left: 4%;
}

.caption {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding-left: 5%;
}

.inputimg {
    margin-left: 3%;
}

.previewdiv {
    display: flex;
}

.imgdiv {
    margin-top: 3%;
    margin-left: 5%;
    height: 40vh;
    width: 50%;
}

.previmg {
    object-fit: contain;
    height: 40vh;
    width: 100%;
}

.postbutton {
    height: 3rem;
    width: 20rem;
    background-color: #9e3ffd;
    border: 0;
}

.posttext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

.poster {
    /* overflow-y: auto; */
    overflow-x: hidden;
}

.entertxt {
    height: 62vh;
    margin-left: 8vh;
    max-height: 80vh;
}

.nums {
    overflow: hidden;
    margin-left: 55%;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

.nums2 {
    width: 55%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contrast {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.comm {
    background-color: rgba(242, 242, 242, 0.252);
    height: 15vh;
    width: 90%;
    border-radius: 2vh;
    margin: 1vh 4vh 1vh 2vh;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.inner p {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.commcon p {
    font-family: "Poppins", sans-serif;
    margin-left: 3vh;
}

.sub {
    background-color: #f3f0f0;
    border-radius: 1.5rem;
    width: 34%;
    height: 4%;
    text-align: center;
    margin: 1% 2% 1% 5%;
    font-size: 1.5rem;
    top: 82vh;
    font-size: 1rem;
    color: black;
    outline: none;
    border: 0px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    border-bottom-style: solid;
    border-bottom-width: 0.04rem;
    position: fixed;
}

.buts {
    font-size: 3rem;
    margin: 1.8% 2% 2% 81.5%;
    top: 82vh;
}

.right {
    margin-top: 5%;
    background-color: #d9d9d9;
    width: 66%;
    overflow-y: hidden;
    height: 80vh;
    position: fixed;
    border-radius: 2%;
    margin-left: 17%;
}

.roomname {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 24%;
}


.dispimg p {
    text-align: left;
    padding-left: 4vh;
}

.dispdiv {
    object-fit: contain;
    height: 60%;
    width: 47%;
    position: center;
    margin: 0.5% 0 5vh 4%;
}

.rightmost {
    width: 45%;
    height: 100%;
    position: fixed;
    margin-top: 5%;
    background-color: #a689e1;
    height: 80vh;
    border-radius: 3%;
    margin-right: 2%;
    right: 0;
}

.uploadbutton {
    border: none;
    border-radius: 0.75rem;
    background-color: #a689e1;
    position: relative;
    margin: 1.8% 0% 2% 88%;
}

.butimgdiv {
    height: 2rem;
    margin-bottom: 0.4vh;
}

.something {
    margin-top: auto;
}

.caption {
    padding: 0 0 0 0;
    margin: -3% 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

.enclose {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    max-width: 30vh;
}

.headingcomm {
    display: flex;
    justify-content: space-around;
}

.togglebutton {
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #cccccc;
    border-radius: 17px;
    position: relative;
    cursor: pointer;
}

.togglebutton::after {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 4px;
    transition: transform 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

.togglebuttonSlider {
    position: absolute;
    top: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: left 0.3s ease;
}

.toggleSwitch {
    margin-top: 2vh;
    display: flex;
}

.solv {
    margin-top: 0.8vh;
    padding-right: 1vh;
}