.parallax-container {
	position: relative;
	height: 100vh;
}

.parallax-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	/* background-image: url("../assets/background.jpg"); */
	background-size: cover;
	z-index: -1;
}

.parallax-content {
	position: relative;
	padding: 50px;
	color: #fff;
	text-align: center;
}
