@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.Home {
	margin-top: 0;
}

.parallaxsize {
	height: 60rem;
}

.bgimg {
	padding-right: 40%;
	/* margin-left: -35rem; */
	/* background-size: 60rem 60rem; */
	/* background-position: right center; */
}

.power {
	font-family: "Work Sans", sans-serif;
	width: 50rem;
	padding-top: 9.6rem;
	padding-left: 8.3rem;
	/* Color of Power #17163e */
	font-size: 5.625rem;
	color: #16163f;
	letter-spacing: -0.02em;
	line-height: 1.1em;
}

.toppers {
	padding-top: 1rem;
	padding-left: 8.3rem;
	font-family: "Montserrat", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6em;
	color: #16163f;
	letter-spacing: 0.05rem;
}
