@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.colour1 {
	height: 80rem;
	width: 55rem;
	background-color: #9e3ffd;
	transform: rotate(15.59deg);
	margin-left: -12rem;
	margin-top: -17rem;
}

.colordiv {
	z-index: -1;
	height: 100vh;
	overflow-y: hidden;
}

.checkboxstyle {
	display: flex;
}

.boxstyle {
	transform: scale(1.5);
}

.uploadbutton {
	border: none;
	border-radius: 0.75rem;
	background-color: rgb(255, 255, 255);
	right: -7vw;
	position: relative;
}

.butimgdiv {
	height: 2rem;
	width: 2rem;
	margin-top: 2rem;
	object-fit: contain;
}

.fileinput {
	display: flex;
}

.filefield {
	display: none;
}

.Category {
	width: 7.5rem;
	padding-top: 1.5rem;
	font-size: 0.8rem;
	padding-left: 1rem;
}

.filename {
	width: 10rem;
	padding-top: 1.5rem;
	font-size: 0.8rem;
	padding-left: 1rem;
}

.signup {
	display: block;
}

.fields {
	margin-left: 0rem;
	margin: 0;
	outline: none;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 0.7px;
	border-bottom-color: #c5c5cf;
	font-size: 1.5rem;
}

.fields:hover {
	border-bottom-color: #16163f;
}

.fields:focus {
	border-bottom-color: #9e3ffd;
}

.login {
	font-family: "Work Sans", sans-serif;
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 1.5rem;
	text-align: center;
	width: 30rem;
	margin-left: -5.5rem;
}

.signupform {
	/* width: 20rem; */
	height: 33.125rem;
	margin-top: -38rem;
	margin-left: 55rem;
}

.password {
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	font-weight: 300;
}

.loginbutton {
	height: 3rem;
	width: 20rem;
	background-color: #9e3ffd;
	border: 0;
}

.logintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
}

.error {
	height: 1.5rem;
	width: 17.5rem;
	background-color: #f8d7da;
	border-radius: 0.5rem;
	color: #721c24;
	font-size: 1rem;
	font-family: "Montserrat", sans-serif;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-align: center;
	margin-top: 10rem;
	font-weight: 500;
	border-width: 0.1rem;
	border-style: solid;
	border-color: #fac1c7;
}
