@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.outerdiv {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    top:0;
}

.imgdiv{
    float:left;
    margin-top: 0.9rem;
    margin-left:0.7rem;
    height: 7rem;
    width: 100%;
    object-fit: cover;
}
.content{
    display: flex;
    flex-direction: row;
}

.buttons{
    position: relative;
    width: 100%;
    margin-top: 2.15rem;
    margin-left: 5rem;
    font-size: 20rem;
}

.tail{
    float: right;
    padding-right: 2rem;
    background-color: transparent;
    border: 0px;
    font-size:1.4rem;
    color: black;
}

.tail:hover{
    color:#ab39fa;
}
.tail .link1:hover{
    color: #ab39fa;
}


 .link1{
    text-decoration: none;
    color:black;
} 