
.outerdiv {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.imgdiv{
    float:left;
    margin-top: 0.9rem;
    margin-left:0.7rem;
    height: 7rem;
}
.content{
    display: flex;
    flex-direction: row;
}

.buttons{
    position: relative;
    width: 100%;
    margin-top: 2.15rem;
    margin-left: 5rem;
    font-size: 20rem;
}

.button1 {
    float: right;
    padding-right: 2rem;
    background-color: transparent;
    border: 0px;
    font-size:1.4rem;
    color: black;
}

/* .button1:active{
    color:#ab39fa;
} */

.button1:hover{
    color:#ab39fa;
}
.button1 .link1:hover{
    color: #ab39fa;
}

/* .button1:focus{
    color:#ab39fa;
} */

 .link1{
    text-decoration: none;
    color:black;
} 