@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.imginput {
	display: none;
}

.inputlabel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* margin-bottom: 30%; */
}

.text {
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	font-weight: 500;

}

.inputimg {
	margin-left: 3%;
	cursor: pointer;
}

/* Entire post doubt div */
.postdoubt {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	align-items: center;
	height: 100%;
	/* justify-content: center; */
	margin-top: 10%;
}



.right2 {
	margin-top: 5%;
	background-color: #d9d9d9;
	width: 66%;
	overflow-y: scroll;
	height: 80vh;
	position: fixed;
	border-radius: 2% 0 0 2%;
	margin-left: 17%;
}

.rightmost {
	width: 16.8%;
	height: 100%;
	position: fixed;
	margin-top: 5%;
	background-color: #a689e1;
	height: 80vh;
	border-radius: 0 3% 3% 0;
	margin-right: 2%;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.roomname {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	margin-top: 8%;
	position: relative;
}

.previewdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.captiondiv {
	display: flex;
	margin-top: 1.5%;
}

.capin {
	margin-left: 1rem;
	margin-bottom: 1.5625rem;
	outline: none;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	background-color: transparent;
	font-size: 1.25rem;
	padding-left: 1rem;
}

/* .imgdiv {
	margin-top: 6%;
	margin-left: -21%;
	height: 40vh;
	width: 50%;
} */

.previmg {
	object-fit: contain;
	height: 40vh;
	width: 100%;
}

.postbutton {
	width: 20rem;
	background-color: #9e3ffd;
	border: 0;
	margin-bottom: 9%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
	padding: 4%;
	cursor: pointer;
}

.posttext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
}

.innercomment {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 43%;
	margin-top: 17%;
}
.space {
	margin-top: 5%;
	background-color: #d9d9d9;
	width: 77%;
	height: 80vh;
	position: fixed;
	border-radius: 2%;
	margin-left: 17%;
}
.hdtxt {
	position: center;
}

.box {
	max-height: 80%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
}
.boxes {
	height: 40%;
	width: 27%;
	background-color: #bface2;
	margin: 1rem 2rem 2rem 2rem;
	border-radius: 1.5vh;
}
.intxt {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 0.5rem;
}

.bxcont {
	overflow-y: auto;
	height: 29vh;
	max-height: 30vh;
	margin: 0 1vh 0 1vh;
}

.set {
	border-color: transparent;
	margin-top: 10%;
}

.set legend {
	color: black;
	font-size: 1.5rem;
	display: block;
	width: 100%;
	padding: 0 0 0 0;
	font-weight: bold;
	margin-left: 7%;
	font-family: "Poppins", sans-serif;
}

.aplebtn {
	width: 100%;
	background-color: transparent;
	border: 0;
	color: black;
	cursor: pointer;
}

.hashdiv {
	margin-top: 4%;
	margin-right: 1%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5%;
	padding-top: 0.05%;
}

.error {
	height: 1.5rem;
	width: 16rem;
	background-color: #f8d7da;
	border-radius: 0.5rem;
	color: #721c24;
	font-size: 1rem;
	font-family: "Montserrat", sans-serif;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-align: center;
	margin-top: 1rem;
	font-weight: 500;
	border-width: 0.1rem;
	border-style: solid;
	border-color: #fac1c7;
}
