
.rightdiv {
    position: relative;
    float: right;
    width: 60%;
    font-size: 2rem;
    
}

form {
    display: block;
}

.formheader {
    margin-bottom: 1.7rem;
    margin-top: 0.5rem;
    margin-left: 21rem;
}

.headertext {
    border-bottom: 0.3rem solid blue;
}

input {
    margin-left: 18rem;
    display: block;
    border: none;
    border-bottom: 0.1rem solid gray;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.buttonscontainer {
    display: inline;
}

.signupbutton {
    margin-left: 18rem;
    margin-top: 2rem;
    border: none;
    text-decoration: none;
    background-color: white;
    color: blue;
    font-weight: bolder;
    font-size: 1.5rem;
}

.loginbutton {
    text-decoration: none;
    margin-top: 0;
    background-color: blue;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5rem;
    font-weight: bolder;
    color: white;
    font-size: 1.5rem;
}


.forgotpasswordbutton {
    display: block;
    margin-left: 21rem;
    margin-top: 2rem;
    font-size: 1rem;
    border: none;
    font-weight: bolder;
    background-color: white;
    color: blue;
    font-size: 1.1rem;
}

.buttontext {
    color: white;
    text-decoration: none;
}

.colourdiv {
    position: relative;
    height: 60rem;
    width: 55rem;
    background-color: #9e3ffd;
    transform: rotate(15.59deg);
    left: -6rem;
    top: -17rem;
    z-index: -1;
}

.mostout {
    display: flex;
}

.checkboxstyle {
    display: flex;
}

label{
    font-size:1.2rem;
    height:3rem;
}

p{
    padding-top:0.4rem;
}